.subtitle-tile {
	display: flex;
	align-items: center;
}

.user-icon {
	margin-right: 10px;
}

.middle-icon {
	margin-left: 15px;
	margin-right: 10px;
}

.enter-news-image {
	transition: transform 0.3s ease;
    cursor: pointer;
}

.enter-news-tile:hover img {
	transform: scale(1.05, 1.05) translateY(-50%);
}
