.logo-container {
	display: flex;
	align-items: center;
    background-color: #ffffff;
}

.logo-container img {
	border-radius: 5px;
	height: 30px;
}

h1 {
	font-size: 21px;
}

svg {
	height: 14px;
}

.navigation-wrapper {
	display: flex;
    align-items: center;
}

@media (max-width: 575px)  {
.logo-container img {
	margin: 0 15px;
}
}
