h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.aside-news-image {
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    height: 80px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
