.logo-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.logo-container img {
    border-radius: 5px;
    height: 30px;
}

h1 {
    font-size: 21px;
}

nav {
	flex: 0 1 auto;
}

.navigation-wrapper {
    display: flex;
    align-items: center;
}

.logo-container img {
    margin: 0 15px;
}

@media only screen and (max-width: 425px) {
    .input-search-for-media {
        width: 100px;
    }
}
