.sign-in-wrapper {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1200px) {
    .sign-in-wrapper {
        width: unset;
        margin-left: unset;
        margin-right: unset;
    }
}
