.tile-subtitle-item {
    display: flex;
    align-items: center;
}

.tile-subtitle-item:not(:last-child) {
    margin-right: 15px;
}

.user-icon {
    margin-right: 10px;
}

.subtitle-tile {
    display: flex;
    align-items: center;
    font-size: 12px;
    flex-wrap: wrap;
}
