.tile-subtitle-item {
    display: flex;
    align-items: center;
}

.tile-subtitle-item:not(:last-child) {
    margin-right: 15px;
}

.user-icon {
    margin-right: 10px;
}

.subtitle-tile {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    flex-wrap: wrap;
}

.aside-margin {
    margin: 10px 0;
}

@media only screen and (max-width: 1200px) {
    .subtitle-tile {
        margin-top: 0;
    }
}
