.header-card-title {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

.social-header {
    margin-left: 10px;
    border-left: 1px solid #eee;
    padding-left: 10px;
    line-height: 23px;
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
}

.social-header-action {
    cursor: pointer;
    margin-left: 10px;
    border-left: 1px solid #eee;
    padding-left: 10px;
    line-height: 23px;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
}

.social-header-wrapper {
    display: flex;
    align-items: center;
}

.social-header-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breaking-news-strong {
    color: #f6214b;
    margin-right: 2px;
    white-space: nowrap;
}
