.subtitle-tile {
	display: flex;
	align-items: center;
    font-size: 12px;
    flex-wrap: wrap;
}

.user-icon {
	margin-right: 10px;
}

.enter-news-image {
    opacity: 0.7;
	transition: transform 0.3s ease, opacity 0.1s ease;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    position: absolute;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
}

.enter-news-tile {
    margin-bottom: 6px;
}

.enter-news-tile:hover .enter-news-image {
	transform: scale(1.05, 1.05);
    opacity: 1;
}

.enter-news-tile > div {
    background-color: #000000;
}

.breaking-news-strong {
    color: #f6214b;
}

.header-card-title {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

.news-card-title {
    margin: 0 0 6px 0;
    font-size: 18px;
    font-weight: 600;
}

.tile-subtitle-item {
    display: flex;
    align-items: center;
}

.tile-subtitle-item:not(:last-child) {
    margin-right: 15px;
}
