.enter-news-image {
    opacity: 0.7;
	transition: transform 0.3s ease, opacity 0.1s ease;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.enter-news-tile {
    margin-bottom: 6px;
}

.enter-news-tile:hover .enter-news-image {
	transform: scale(1.05, 1.05);
    opacity: 1;
}

.enter-news-tile > div {
    background-color: #000000;
}

.news-card-title {
    margin: 0 0 6px 0;
    font-size: 18px;
    font-weight: 600;
}

.header-card-title {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}
